.App {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: auto;
  border: 2px solid #9d9d9d;
  border-radius: 10px;
}

.App .Header {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #bebebe;
}

.App .Header ::placeholder {
  font-style: italic;
}
.App .Header :-ms-input-placeholder {/*Internet explorer 10-11*/
  font-style: italic;
}
.App .Header ::-ms-input-placeholder {/*microsoft edge*/
  font-style: italic;
}

.App .Header input{
  margin: auto 0 auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  border:none;
}
.App .Header img {
  width: 32px !important;
}